.title {
	display:none;
}
.logo-img{
	padding:15px 0px;
}
.jumbotron{
	padding:7rem 2rem;
	border-radius: 0;
}
.spacer{
	height:200px;
	border:none;
}
footer {
	color:#666;
    background-color: #f5f5f5;
    margin:0px;
    position:absolute;
    width:100%;
    bottom:0px;
}
footer p {
	padding:15px 0px;
	margin:0px;
}