html, body {
	height: 100%;
	margin: 0;
}
p {
	margin-bottom:.5rem;
}

a {
	color:#006AA9;
}

a:hover {
	color:#007bff;
}

a:visited {
	color:#CE171F;
}
.content {
	min-height: 100%;
	margin-bottom:-50px;
}
.content:after{
	content: "";
	display: block;
	height:50px;
}

.title {
	display:none;
}
.logo-img{
	padding:15px 0px;
}
.jumbotron{
	background-color: #f5f5f5;
	padding:7rem 2rem;
	border-radius: 0;
}
.carousel{
	margin:10px 0px 30px 0px;
}
.carousel-item{
	opacity:0;
	transition: opacity .6s ease,-webkit-opacity .6s ease;
}
.carousel-item.active,.carousel-item.carousel-item-left{
	transform:none;
	opacity:1;
}
.carousel-item.carousel-item-right{
	transform:none;
	display:block;
	opacity:0;
}
.carousel-item.carousel-item-prev{
	opacity:1;
	display:block;
}
.carousel-indicators li:hover{
	cursor:pointer;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333333' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    background-image: none;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    background-image: none;
}
.carousel-control-next, .carousel-control-prev {
	width:40%
}
.carousel-control-next{
	cursor:e-resize;
}
.carousel-control-prev {
	cursor:w-resize;
}
.carousel-indicators {
	bottom:0px;
	margin-bottom: 0px;
}
.carousel-indicators li {
	background-color: rgba(51,51,51,.5);
}
.carousel-indicators .active {
	background-color: rgba(51,51,51,1);
}
.footer {
	color:#666;
	background-color: #f5f5f5;
}

footer p {
	padding:15px 0px;
	margin:0px;
}
